/*-------------Mobile-------------*/

@media screen and (min-width: 320px) {
    .container {
        max-width: 428px;
    }

    .features-item {
        max-width: 396px;
      
    }

   
}


/*---------------Tablet---------------*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;

    }


    .features-item {
        max-width: unset;
        width: calc((100% - 24px)/2);
      
    }

    .features-menu {
        gap: 72px 24px;
        
    }

        .features-subtitle{
            text-align: left;
        }
}

/*-------------Desctop-------------*/

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }


    .features {
        width: 100%;
        padding: 120px 0;
    }

    .features-menu {
        display: flex;
        gap: 24px;

    }

    .features-item {
        width: calc((100% - 72px) / 4);
        gap: 24px;


    }

    .features-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
    }


    .features-menu-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;

    }

    .features-icon {
        background: #F4F4FD;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        padding: 24px 100px;
    }

}