/*-------------Mobile-------------*/

@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    .features-item {
        max-width: 396px;
      
    }

    .subscribe-input {
        width: 398px;
    }

   
}


/*---------------Tablet---------------*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
       
    }

    .hero{
        padding: 112px 0;
    }

    .hero-title{

        padding-bottom: 36px;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
    }

    .features-item {
        max-width: unset;
        width: calc((100% - 24px)/2);
      
    }

    .features-menu {
        gap: 72px 24px;
        
    }

    .features-subtitle{
        text-align: left;

    }
    
    .team-menu{
        gap: 64px 24px;
    }

    .customers{
        
        margin-left: 108px;
        margin-right: 108px;
      
    }
    .customers-item{
        
        width: calc((100% - 48px)/ 3);
       
    }

    .customers-list{
        gap: 72px 24px;
    }

    .footer-container{
       
        flex-direction: row;
        row-gap: 72px;
        flex-wrap: wrap;
        align-items: baseline;
        max-width: 584px;
        text-align: start;
        justify-content: unset;
        
      
    }
    .footer-logo-text{
        margin: unset; 
        
    }
    .footer-text{
        
        max-width: 264px;
        margin-right: 24px;

    }

    .footer-logo{
        
        margin-right: 24px;
        text-align: start;
    }

    .social-text{
        text-align: start;
    }

    .footer-social{
        margin: 0;
    }


    .subscribe-input {
      
        width: 264px;

    }
    
    .form-subscribe{
        flex-direction: row;
       

    }

    .subscribe-text{
        text-align: start;
    }

}

/*-------------Desctop-------------*/

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
    
    .hero {
        padding: 188px 0;
    }

    .hero-title {
        
        padding-bottom: 36px;
    }

    .features {
        width: 100%;
        padding: 120px 0;
    }

    .features-menu {
        display: flex;
        gap: 24px;

    }

    .features-item {
        width: calc((100% - 72px) / 4);
        gap: 24px;


    }

    .features-subtitle {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
    }


    .features-menu-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;

    }

    .features-icon {
        background: #F4F4FD;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        padding: 24px 100px;
    }

        .work {
            display: block;
            padding-top: 24px;
            padding-bottom: 120px;
        }
    
        .work-subtitle {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            text-align: center;
            color: var(--title-color);
            margin-bottom: 72px;
        }
    
        .work-menu {
            display: flex;
            gap: 24px;
    
        }
    
        .work-item {
            width: calc((100% - 48px / 3));
    
        }

        .team{
            padding: 120px 0;
        }

        .team-menu{
            gap: 24px;
        }

      
        .customers-list{
            flex-wrap: nowrap;
        
        }

        .customers-item{
            width: calc((100% - 120px)/ 6);
            height: 88px;
        }

        .footer-container{
            width: 100%;
           
          
        }
        .footer-logo-text{
            margin-right: 120px;
        
        }

        .footer-text{
            margin-right: 0;
           
        }

        .footer-social{
            margin-right: 80px;
        }




}